/* --------------- GOOGLE FONT --------------- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* --------------- RESET --------------- */
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}
.btn-blue, .btn-blue:hover {
    color: #fff;
    background-color: #656BFF;
    border-color: #656BFF;
}
.btn-outline-blue , .btn-outline-blue:hover{
    color: #656BFF;
    border-color: #656BFF;
}
.btn-pink, .btn-pink:hover {
    color: #fff;
    background-color: #FA3974;
    border-color: #FA3974;
}
.btn-purple, .btn-purple:hover {
    color: #fff;
    background-color: #CB34FF;
    border-color: #CB34FF;
}
.text-pink {
    color: #FA3974;
}
.bg-pink {
    background-color: #FA3974;
}
.bg-gray {
    background-color: #F9F9F9;
}
.bg-blue {
    background-color: #656BFF;
}
.bg-gray2 {
    background-color: #DDDDDD;
}
.text-blue {
    color: #656BFF;
}
a{
    text-decoration: none;
    color: inherit;
}
button{
    cursor: pointer;
}


/* --------------- index --------------- */
.navbar-nav {
    flex-direction: row !important;
}
main{
	background-color: #FBFBFB;
}
/* slider yazı hizalama */
.carousel-caption {
    right: 4% !important;
    top: 3rem !important;
    left: 4% !important;
}
.carousel-caption h5{
    font-size: 3.87rem !important;
}
.fs-144{
	font-size: 9rem;
}
.category-icon{
    width: 1.5rem;
}
.category__item{
    flex-basis: 20%;
}
.nav-tabs, .nav-tabs .nav-link {
    border: none;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    background-color: transparent;
    border-bottom: 3px solid #656BFF;
}
.nav-tabs .nav-link, .nav-tabs .nav-item .nav-link {
    color: inherit;
}
main .card .carousel-indicators [data-bs-target]{
    background-color: #656BFF;
}
.line{
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: #FA3974;
    transform: rotate(-15deg);

    position: absolute; top: 50%; left: 0;
}
footer{
    background-color: #F2F2F2;
}


/* --------------- advert --------------- */
.accordion-button:not(.collapsed) {
    color: inherit !important;
    background-color: inherit !important;
    box-shadow: none;
}
.accordion-item {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border: none !important;
}
.accordion-button:focus {
    box-shadow: none !important;
}
.accordion-button, .accordion-body {
    padding: 0.5rem 1.25rem;
}
.hizalama{
    position: absolute;
    bottom: 14%;
    left: 10%;
}
.form-floating > .form-control:not(:placeholder-shown) {
    padding-top: 0.625rem !important;
}
.f-basis-48{
    flex-basis: 49%;
}
.price-input{
    display: flex;
    justify-content: space-between;
}
.price-input .field{
    height: 30px;
    display: flex;
    align-items: center;
    color: #959595;
}
.price-input input{
    height: 100%;
    width: 70px;
    outline: none;
    align-items: center;
    border: none;
    color: #959595;
    -moz-appearance: textfield !important;
}
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button{
    -moz-appearance: none !important;
}
.slider{
    height: 5px;
    border-radius: 5px;
    background-color: #E2E1E1;
    position: relative;
}
.slider .w-progress{
    height: 5px;
    border-radius: 5px;
    position: absolute;
    left: 25%;
    right: 25%;
    background-color: #656BFF;
}
.range-input{
    position: relative;
}
.range-input input{
    position: absolute;
    top: -5px;
    height: 5px;
    width: 100%;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
}
input[type="range"]::-webkit-slider-thumb{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    pointer-events: auto;
    -webkit-appearance: none;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
}
input[type="range"]::-moz-range-thumb{
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    pointer-events: auto;
    -webkit-appearance: none;
    background-color: #fff;
}
.form-check-input[type=radio] {
    background-image: none;
    border: none;
    font-size: 1.3rem;
}
.form-check-input:focus {
    outline: none;
    box-shadow: none ;    
}
/* color select */
.cb--bgcolor--pink{background-color: pink;}
.cb--bgcolor--pink:checked{background-color: pink;}
.cb--bgcolor--blue{background-color: blue;}
.cb--bgcolor--blue:checked{-color: blue;}
.cb--bgcolor--yellow{background-color: yellow;}
.cb--bgcolor--yellow:checked{background-color: yellow;}
.cb--bgcolor--purple{background-color: purple;}
.cb--bgcolor--purple:checked{background-color: purple;}
.cb--bgcolor--green{background-color: green;}
.cb--bgcolor--green:checked{background-color: green;}
.cb--bgcolor--black{background-color: black;}
.cb--bgcolor--black:checked{background-color: black;}
.cb--bgcolor--gray{background-color: gray;}
.cb--bgcolor--gray:checked{background-color: gray;}
.cb--bgcolor--orange{background-color: orange;}
.cb--bgcolor--orange:checked{background-color: orange;}
.cb--bgcolor--white{background-color: white;box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.125);}
.cb--bgcolor--white:checked{background-color: white;box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.125);}


/* --------------- advert-detail --------------- */
.table > :not(:first-child) {
    border-top: inherit;
}
/* product-detail-slider */
#featured{
    background-color: #c2c2c2;
    object-fit: cover;
    cursor: pointer;
}
#slide-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
}
.pd-slider{
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
}
.thumbnail{
    width: 180px;
    object-fit: contain;
    cursor: pointer;
    opacity: 0.5;
    background-color: #fff;
}
.thumbnail:hover{
    opacity: 1;
}
.active{
    opacity: 1;
}
#slide-wrapper .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e") ;
}  
#slide-wrapper .carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.arrow{
    width: 20px;
    cursor: pointer;
    transition: all .3s;
}
.arrow:hover{
    opacity: .5;
    width: 30px;
}


/* --------------- add-an-ad--------------- */
.currency-unit{
    position: absolute; top: 60%; right: 5%;
}


/* MODAL */
.modal-dialog {
    max-width: 80%;
    margin: 1.75rem auto;
}
.table-row{
    height: 113.11px;
    line-height: 113.11px;
}
/* @media (max-width: 1200px){
    .modal-dialog {
        max-width: 80%;
        margin: 1.75rem auto;
    }
} */


/* live chat */
.chat-box{
    width: 400px;
    height: 550px;
    background-color: #C9C9C9;
    overflow: hidden;
    border-radius: 10px;
    
    position: fixed;
    right: 0%;
    bottom: 9%;
    display: none;
    z-index: 500;
}
.client{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 60px;
    background-color: #FA3974;
    padding: 15px;
    color: #fff;
    
}
.client img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 1rem;
}
.client-info{
    padding: 15px;
    font-size: 10px;
}
.client-info h2{
    font-size: 20px;
}
.chats{
    width: 100%;
    padding: 0 15px;
    color: #fff;
    position: relative;
    font-size: 1.1rem;
}
.client-chat{
    width: 60%;
    word-break: break-all;
    background-color: #939393;
    padding: 7px 10px;
    border-radius: 10px 10px 10px 0;
    margin: 10px 0;
}
.my-chat{
    width: 60%;
    word-break: break-all;
    background-color: #939393;
    padding: 7px 10px;
    border-radius: 10px 10px 0 10px;
    margin: 5px 0 5px auto;
}
.chat-input{
    display: flex;
    align-items: center;
    width: 100%;
    height: 75px;
    padding: 15px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
}
.chat-input input{
    width: calc(100% - 40px);
    height: 100%;
    background-color: #fff;
    border-radius: 50px;
    color: #000;
    font-size: 1.2rem;
    padding: 0 15px;
    border: none;
    outline: 0;
}
.send-btn{
    width: 60px;
    height: 60px;
    background-color: transparent;
    overflow: hidden;
    position: relative;
    margin-left: 5px;
    cursor: pointer;
    transition: all .4s ease-in-out;
    border: none;
}
.send-btn:active{
    transform: scale(1.5);
}
.chat-btn{
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    overflow: hidden;
    position: fixed;
    right: 1%;
    bottom: .5%;
    border: 6px solid #FA3974;
    z-index: 501;
}
.chat-btn img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    transition: all .4s ease-in-out;
}
.chat-btn:hover img{
    transform: rotate(30deg) scale(1.1);
}



/* --------------- RESPONSIVE --------------- */
@media all and (max-width: 1200px){
    /* --------------- index --------------- */
    .carousel-caption span{
        line-height: 1;
    }
    .fs-144{
        font-size: 6rem;
    }
    /* .header-modal{
        display: none;
    } */
    .category-img-container{
        display: none !important;
    }
    .modal-dialog {
        max-width: 80%;
        margin: 1.75rem auto;
    }
}
@media all and (max-width: 992px){
    /* --------------- index --------------- */
    html{
        font-size: 14px;
    }
    .openClose-1{
        display: none !important;
    }
    .openClose-2{
        display: flex !important;
    }
    .openClose-2 a{
        flex-basis: 48% !important;
    }
    .carousel-caption {
        right: 2% !important;
        top: 0rem !important;
        left: 2% !important;
    }
    .carousel-caption h5{
        font-size: 2.5rem !important;
    }
    .carousel-caption span{
        line-height: 1;
    }

    .filter-mobil{
        display: flex !important;
        justify-content: space-between !important;
        align-items: center !important;
    }
    .filter-title-mobil{
        display: none !important;
    }
    .account-icon{
        display: flex;
        align-self: flex-end;
    }
    .mobil-width{
        width: 100% !important;
    }
    .about-open{
        display: flex !important;
    }
}
@media all and (max-width: 762px){
    .mc-1{
        display: none;
    }
    .mc-2{
        display: block !important;
    }
    .navbar-brand{
        width: 5rem !important;
    }
    .canlidestek{
        display: none;
    }
    .top-header__left{
        flex-direction: column;
    }
    .language{
        min-width: 63px !important;
    }
    .carousel-caption{
        flex-direction: column;
        justify-content: flex-start !important;
        align-items: flex-start !important;
    }
    .fs-144{
        font-size: 2.5rem !important;
    }
    .carousel-caption {
        margin-left: 2rem;
        padding-top: .25rem;
        padding-bottom: .25rem;

    }
    .carousel-caption h5{
        font-size: 1.8rem;
        margin: 0;
    }
    .carousel-caption p{
        font-size: .8rem;
        margin: 0;
        text-align: left;
    }
    .mobilad{
        padding-right: .7rem !important;
        padding-left: .7rem !important;
    }
}
@media all and (max-width: 576px){
    .advert-none{
        display: none;
    }
    footer{
        text-align: center;
    }
    .dowload{
        display: flex;
        justify-content: space-between;
    }
    .footer__item{
        margin-bottom: 2rem;
    }
    .modal-dialog {
        max-width: 95%;
        margin: 1.75rem auto;
    }
    .navbar-brand{
        width: 4.5rem !important;
    }
    .navbar > .container{
        justify-content: center;
    }
}
@media all and (max-width: 540px){
    .category__item p{
        font-size: .95rem;
    }
}
@media all and (max-width: 520px){
    .category__item p{
        font-size: .9rem;
    }
    .btn {
        padding: 0.375rem 0.25rem;
        font-size: .85rem !important;
        margin: 0;
    }
}
@media all and (max-width: 490px){
    .category__item p{
        font-size: .8rem;
    }
}
@media all and (max-width: 435px){
    .navbar > .container{
        justify-content: space-between;
    }
    .category__item p{
        font-size: .75rem;
    }
}